#DEBUGGING
bak_*

#LOGS
*.txt

#CTAGS
tags

#SWAP-FILE
*.swp

#RUNTIME-FILE
simulationFTL

#binary file
bf_origin.*
origin.bin

#TEST-DIR
example/
log_0121/
compression/
benchmark/
output/
dict/
experiment/

#BENCHMARK
real_trace
trace_rocksdb

*.cpp
*.out
